<template>
  <require from="./list-box.css"></require>

  <div class="content-container-fluid">
    <div class="row">
      <div class="cols-sample-area">
        <div class="listbox frame">
          <ul id="selectcar" ej-list-box="e-height:'100%;'">
            <li go-to-route="route:simple-form;" >Simple Form</li>
            <li go-to-route="route:simple-grid;">Grid</li>
            <li go-to-route="route:drawer;">Drawer</li>
            <li go-to-route="route:iq-portal;">IQ Portal</li>
            <li go-to-route="route:generatedControlsFirstForm;">Generated Controls</li>
            <li go-to-route="route:generatedControlsSecondForm;">Generated Controls with Validation</li>
            <li go-to-route="route:dropdown;">Dropdown</li>
            <li go-to-route="route:orders;">orders</li>
            <li go-to-route="route:customers;">customers</li>
            <li go-to-route="route:employees;">employees</li>
            <li go-to-route="route:api-calls;">Api Calls</li>
            <li go-to-route="route:charts;">Charts</li>
            <li go-to-route="route:chartsPie;">Pie Charts</li>
            <li go-to-route="route:chartsLine;">Line Charts</li>
            <li go-to-route="route:chartsColumn;">Column Charts</li>
            <li go-to-route="route:chartsBar;">Bar Charts</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
